body {
  display: flex;
  margin: 0px;
  background-color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
}

.corgi {
  position: relative;
  width: 35vw;
  height: 100vh;
}

.corgi > img {
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  top: 23%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 100px;
  font-weight: 600;
}

.credits {
  position: fixed;
  bottom: 10px;
  left: 12%;
  font-size: small;
  color: var(--text-color);
  z-index: 2;
}

.page {
  background-color: beige;
}
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(186, 182, 182);
  height: 200px; /* Set desired height for the heading */
  margin: 0 auto; /* Center the container horizontally */
  width: 65vw; /* Set the width of the container */
}

.page-title > h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center; /* Center the text horizontally */
  width: 100%; /* Ensure the text takes up the full width */
}

form {
  display: grid;
  gap: 20px;
  padding: 20px;
}

fieldset {
  height: 30vh;
  border: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 5px;
  margin-top: 5px;
}
